<!doctype html>
<html>
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">

    {% block styles %}
        <!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}
    {% endblock %}

    {% if title %}
    <title>{{ title }} - Pokémon Flask API</title>
    {% else %}
    <title>Welcome to Pokémon Flask API</title>
    {% endif %}
    {% endblock %}
  </head>
  <body style="background-color:tomato;">
    {% from 'bootstrap5/nav.html' import render_nav_item %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="navbar-nav mr-auto">
        <a class="navbar-brand">
          Pokémon Flask API:
        </a>
        {{ render_nav_item('main.index', 'Home') }}
      </div>
    </nav>
    {% block content %}
    {% endblock %}
    {% block scripts %}
      <!-- Optional JavaScript -->
      {{ bootstrap.load_js() }}
    {% endblock %}
  </body>
</html>
