{% extends "base.html" %}

{% block content %}
    <h1 class="text-center">Pokémon Flask API: </h1>
    <h2 class="text-center">An API That Showcases The Original 150 Pokémon!</h2>
    <br />
    <h3 class="text-center">Search For A Pokémon:</h3>
    <form class="text-center" action="{{ url_for('main.show_pokemon', pokemonname='')}}" method="get" onsubmit="event.preventDefault(); 
        const name = document.getElementById('pokemon_input').value.trim().toLowerCase();
        if (name) {
            window.location.href = '/pokemon/' + encodeURIComponent(name);
        }"
    >
        <input type="text" id="pokemon_input" name="pokemonname" placeholder="Enter Pokémon name" required/>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
{% endblock %}