{% extends "base.html" %}

{% block content %}
   <h1 class="text-center">Pokedex Entry:</h1>
   <!-- Loop through the single array of only one element inside it: -->
   {% for item in pokemon %}
   <div class="d-flex justify-content-center my-4">
      <div class="card bg-primary" style="width: 18rem;">
         <img class="card-img-top w-50 mx-auto" src='{{ item.img }}' alt="Card image cap"/>
         <div class="card-body text-center">
            <h2 class="card-title">{{item.name}} #{{ item.num }}</h2>
         </div>
         <ul class="list-group list-group-flush">
            <li class="list-group-item bg-warning">
               <h5>Types: </h5>
               <ul>
               {% for type in item.types %}
               <li>
                  <span class="badge text-light"
                        style="background-color: {{ type_colors.get(type.name, 'gray') }};">
                     {{ type.name }}
                  </span>
               </li>
               {% endfor %}
               </ul>
            </li>
            <li class="list-group-item bg-warning">
               <h5>Height: {{ item.height }}</h5>
            </li>
            <li class="list-group-item bg-warning">
            <h5>Weight: {{ item.weight }}</h5>
            </li>
            <li class="list-group-item bg-warning">
               <h5>Weaknesses: </h5>
               <ul>
               {% for weakness in item.weaknesses %}
                  <li>
                     <span class="badge text-light"
                           style="background-color: {{ type_colors.get(weakness.name, 'gray') }};">
                        {{ weakness.name }}
                     </span>
                  </li>
               {% endfor %}
               </ul>
            </li>
            {% if item.next_evolution %}
            <li class="list-group-item bg-warning">
               <h5>Evolutions: </h5>
               <ul>
               {% for evo in item.next_evolution %}
               <li>Number: {{ evo["num"] }}</li>
               <li>Name: <a href="/pokemon/{{ evo['name'] }}">{{ evo["name"] }}</a></li>
               {% endfor %}
               </ul>
            </li>
            {% endif %}
         </ul>
      </div>
   </div>
   {% endfor %}
{% endblock %}