{% extends "base.html" %}

{% block content %}
     <h1>Pokedex Entry:</h1>
     <!-- Loop through the single array of only one element inside it: -->
     {% for item in pokemon %}
     <h2>id: {{ item.id }}</h2>
     <h2>num: {{ item.num }}</h2>
     <h2>name: {{ item.name }}</h2>
     <img src='{{ item.img }}'' />
     <h2>Types: </h2>
     <ul>
     {% for type in item.type %}
        <li>{{ type }}</li>
     {% endfor %}
     </ul>
     <h2>height: {{ item.height }}</h2>
     <h2>weight: {{ item.weight }}</h2>
     <h2>Weaknesses: </h2>
     <ul>
     {% for weakness in item.weaknesses %}
        <li>{{ weakness.name }}</li>
     {% endfor %}
     </ul>
     {% if item.next_evolution %}
     <h2>Evolutions: </h2>
     <ul>
     {% for evo in item.next_evolution %}
     <li>Number: {{ evo["num"] }}</li>
     <li>Name: {{ evo["name"] }}</li>
     {% endfor %}
    </ul>
    {% endif %}
    {% endfor %}
{% endblock %}